$color-one: #d39935;
$color-two: #001e1d;
$color-three: #abd1c6;
$color-four: #004643;
$color-five: #f9bc60;

$background: #e8e4e6;

// $main-font: "Bebas Neue", cursive;
// $main-font: "Fjalla One", sans-serif;
$main-font: "Josefin Sans", sans-serif;

// $main-font: "Major Mono Display", monospace;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}

body {
  color: $color-one;
  background-color: $background;
  font-family: $main-font;
  // width: 100vw;
  // overflow-x: hidden;
}
input,
button,
textarea,
select {
  font-family: $main-font;
}

nav {
  width: 5vw;
  height: 100vh;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-orientation: upright;
  writing-mode: vertical-lr;
  //   text-align: right;
  font-size: 4.2vh;
  color: $color-one;
  transition: 800ms;
}

.show {
  //   background-color: greenyellow;
  text-orientation: sideways;
  writing-mode: horizontal-tb;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;

  a {
    width: 13vw;
    // height: 30vh;
    height: 13vw;
    margin: 0% 10%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // background-color: hotpink;
    text-align: center;
    font-size: 3vw;
    color: #d39935;
    text-decoration: none;
    transition: 2s;
    border-radius: 50rem;
    cursor: pointer;
  }
  a:hover {
    background-color: $color-three;
    color: $color-two;
    // padding-bottom: 10vh;
  }
}

nav:hover {
  width: 50vw;
  align-items: flex-end;
  //   writing-mode: horizontal-tb;
  //   align-items: flex-end;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-four;
  //   background-image: url("../myGreen.png");
  //   background: url("https://wallpapercave.com/wp/wp9136492.jpg");
  font-size: 2vw;
  text-align: right;
  padding-left: 5vw;
  color: $color-one;

  //SEARCH
  .search {
    // background-color: greenyellow;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 10vh;

    input,
    button {
      border-radius: 1rem;
      // height: 5vh;
      margin: 0vh 1vw;
      padding: 10px;
      border: none;
      transition: 0.5s;
    }
    input {
      background-color: $color-two;
      font-size: 3vh;
      color: $color-one;
      text-align: right;
    }
    button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $color-two;
      cursor: pointer;
      i {
        color: $color-one;
        font-size: 4vh;
        transition: 0.5s;
      }
    }
    button:hover {
      background-color: $color-one;
      i {
        color: $color-two;
      }
    }
    input:focus,
    button:focus {
      outline: none;
    }
  }

  h1 {
    display: flex;
    align-items: center;
    // background-color: greenyellow;
    width: 38vw;
    height: 10vh;
    transition: 3s;
    border-radius: 1rem;
    padding: 0 5%;
    cursor: pointer;
  }
  .most-unclicked:hover {
    background-color: $color-two;
  }
  .list-of-most,
  .viewed-list {
    height: 40vh;
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 3%;
    .listed {
      display: flex;
      height: 60%;
      flex-direction: column;
      justify-content: space-between;
    }
    a {
      text-decoration: none;
      color: $background;
      transition: 300ms;
    }
    a:hover {
      color: $color-one;
    }
  }
  .list-of-most {
    height: 30vh;
  }
}

//FORM PAGE
.section-one {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  // background-color: $background;
  perspective: 1000px;

  form {
    @include flex-column();
    height: 80vh;
    width: 35vw;
    position: relative;
    // bottom: 15vh;
    border-radius: 2rem;
    transform-style: preserve-3d;

    h1 {
      color: $color-one;
      font-size: 6vh;
      font-weight: bolder;
      transition: all 0.5s ease-out;
      text-align: center;
    }
    .title-two {
      position: absolute;
      top: 7vh;
      left: 0.5vw;
      color: transparent;
      z-index: -1;
    }
    input,
    button,
    textarea,
    select {
      width: 25vw;
      height: 6vh;
      font-size: medium;
      background-color: $background;
      border-radius: 1rem;
      padding: 2vh;
      margin-top: 3vh;
      border: none;
      color: $color-two;
      transition: all 0.5s ease-out;
    }
    select {
      padding: 0px 1.6vh;
    }
    button {
      box-shadow: none;
      background-color: $color-four;
      color: $background;
      font-size: 2vh;
    }
    .btn-two {
      background-color: transparent;
      position: absolute;
      bottom: 6vh;
      left: 10vh;
      z-index: -1;
    }
    ::placeholder {
      color: $color-two;
      opacity: 1; /* Firefox */
    }
  }
  button:focus {
    outline: none;
    background-color: $color-one;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    background-color: $color-three;
    // color: $color-two;
  }
  input:hover,
  textarea:hover,
  select:hover {
    border: 1px solid $color-two;
  }
  button:hover {
    cursor: pointer;
    background-color: $color-one;
    color: $color-two;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
  .yellow-block {
    background-color: $color-one;
    height: 1vh;
    width: 50%;
    position: absolute;
    bottom: 9vh;
    z-index: 1;
  }
}

//CONCEPT and CATEGORY DETAILS
.concept-page,
.category-page {
  height: 100vh;
  width: 100vw;
  background-color: $color-four;
  h1,
  a {
    color: $background;
    text-decoration: none;
    font-size: 3vw;
  }
  h1 {
    font-size: 3vw;
  }
  a:hover {
    color: $color-one;
  }
}
.concept-details,
.category-details {
  // background-color: greenyellow;
  height: 80vh;
  // width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//category alone
.category-specs {
  // height: 10vh;
  width: 80vw;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  a {
    font-size: 1vw;
    margin: 5px 2vw;
  }
}
.category-specs::-webkit-scrollbar {
  display: none;
}
